@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #1e90ff; /* Dodger Blue */
  --secondary-color: #333333; /* Dark Grey */
  --main-background-color: #ffffff; /* White */
  --sidebar-background-color: #e0e0e0; /* Light Grey */
  --text-color: #333333; /* Dark Grey */
  --accent-color: #87cefa; /* Light Sky Blue */

  --primary-dark-color: #1e90ff; /* Dodger Blue */
  --secondary-dark-color: #cccccc; /* Light Grey */
  --main-background-dark-color: #121212; /* Very Dark Grey */
  --sidebar-background-dark-color: #1e1e1e; /* Darker Grey */
  --text-dark-color: #e0e0e0; /* Light Grey */
  --accent-dark-color: #87cefa; /* Light Sky Blue */
}
